* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    position: relative;

}
body {
    background-color: #000;
    color: grey;

    font-family: Helvetica, sans-serif;

}


:root {
    --background-webpage: #1298b5;
    --color-yellow: #edc162;
    --color-green: #41cc79;
    --color-darkgreen: #0f7f97;

}

.container {
    width: 100vw;
    height: 100vh;

    /* child space */
    padding: 10px;

    text-align: center;

    /* deco */
    /* background-color: var(--background-webpage);
    color: white; */

}

    .container > * {
        outline: 1px solid grey;

        /* sibling space */
        margin: 30px 0;

    }
    /* .container .instruction:first-child {
        color: var(--color-yellow);
    }
    .container .instruction:nth-child(2) {
        color: var(--color-green);
    }
    .container .instruction:last-child {
        color: var(--color-darkgreen);
    } */
    /* .container form {} */
        .container input {
            width: 50%;

            /* text space */
            padding: 10px 20px;

            /* deco */
            /* border-radius: 5px;
            outline: none; */

        }
        .container button {
            height: 35px;

        }
            .container button img {
                width: 100%;
                height: 100%;

            }

    .container ul {
        /* child space */
        padding: 10px;

        /* center item */
        display: flex;
        flex-direction: column;
        align-items: center;

    }
        .container ul div {
            outline: 1px solid grey;

            width: 45%;
            /* sibling space */
            margin: 10px 0;


            /* text space */
            padding: 10px 20px;
        }